:root{/*Default settings are here and will always be followed unless overwritten*/
  font:normal 1.8vh 'Roboto', Verdana, sans-serif;/*font-weight, -size, and -family combined*/
  color:PapayaWhip;
  /*background-color:Gainsboro;/*#DCDCDC*/
    /*background:linear-gradient(90deg, HoneyDew, Ivory, FloralWhite);*/
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*using the above @import as alternative to <link> inside html...will see if this is better option,
because if it doesn't work, then I'd just switch back into using <link> inside HTML*/

* {
  margin: 0;
  padding: 0;
}

a{
    color:inherit;
    text-decoration:none;
    font-weight:700;

}
body{
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  width:100vw;
 background-image: url(../images/bg-index-desktop.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position:center center;
 background-size: cover;
}

div.blurme{
  display: flex;
    flex-direction:row-reverse;
    justify-content:space-around;
  align-items: center;
  text-align:center;
  background:inherit;
  border-radius:12%;
  position:relative;
  width:40vw;
  height:50vh;
  /*border-solid*/
  overflow:hidden;
}

div.blurme:before{
 content: "";
 background: inherit; 
 position: absolute;
 left: -25px;  /*giving minus -25px left position*/
 right: 0;
 top: -25px;  /*giving minus -25px top position*/
 bottom: 0;
 box-shadow: inset 0 0 0 500px rgba(54,27,19,0.3);
 filter: blur(10px);
}

div.buttonz{
  display:flex;
  align-items:center;
  justify-content:center;
  border:dashed;
  border-radius:12%;
  text-align:center;
  height:10vh;
  width:10vw;
  position:relative;
  overflow:hidden;
}

div.buttonz:hover{
  transform:scale(1.08);
}
div.buttonz:active{
  box-shadow:2px 2px 5px 1px rgba(255, 239, 213, 0.9); 
  transform: translateY(4px);
}




/*DONT TOUCH THE BOTTOM SECTION YET*/


/*DONT TOUCH THE BOTTOM SECTION YET*/
/*DONT TOUCH THE BOTTOM SECTION YET*//*DONT TOUCH THE BOTTOM SECTION YET*/
/*DONT TOUCH THE BOTTOM SECTION YET*//*DONT TOUCH THE BOTTOM SECTION YET*/
/*DONT TOUCH THE BOTTOM SECTION YET*//*DONT TOUCH THE BOTTOM SECTION YET*/
@media screen and (max-device-width: 450px) { 
  a{
    color:black;
    text-decoration:none;
    font-weight:700;
}
  body{
        min-height:100vh;
    width:100vw;
    background:url(../images/bg-index-mobile.jpg) no-repeat center center fixed;
    /*Free-to-use image from https://unsplash.com/photos/2wPkJRDMnBM  */
      -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;
}

  section.container{
    flex-direction:column;
    font-size:100%;
  }
  .outside{
    height:50vh;
    width:60vw;
  background:linear-gradient(222deg, rgba(245,255,250,.16), rgba(255,239,213, .1) 50%);
}
  .container1{
    height:15vh;
    width:25vw;
}

}
