html {//somehow it needs this html tag to stretch the bgcolor to the whole page,
  //maybe bcoz it has less content? I don't know
   margin: 0px;
   height: 100%;
}
body {
margin: 5%;
min-height: 100%;
background-color: #B1D7FD;
background: -webkit-linear-gradient(top, #B1D7FD 0%, #FFFFFF 100%);
background: linear-gradient(to bottom, #B1D7FD 0%, #FFFFFF 100%);
background-repeat: no-repeat
}


h1 {
color: midnightblue;
}


/* background-color: rgb(192,216,144)  */
